[submodule "superpowers"]
	path = submodules/superpowers
	url = https://github.com/obra/superpowers
[submodule "awesome-claude-skills"]
	path = submodules/awesome-claude-skills
	url = https://github.com/ComposioHQ/awesome-claude-skills
[submodule "claude-skills"]
	path = submodules/claude-skills
	url = https://github.com/alirezarezvani/claude-skills.git
[submodule "AI-research-SKILLs"]
	path = submodules/AI-research-SKILLs
	url = https://github.com/zechenzhangAGI/AI-research-SKILLs.git
[submodule "claude-scientific-skills"]
	path = submodules/claude-scientific-skills
	url = https://github.com/K-Dense-AI/claude-scientific-skills.git
[submodule "planning-with-files"]
	path = submodules/planning-with-files
	url = https://github.com/OthmanAdi/planning-with-files.git
[submodule "submodules/compounding-engineering-plugin"]
	path = submodules/compounding-engineering-plugin
	url = https://github.com/EveryInc/compounding-engineering-plugin.git
[submodule "submodules/myclaude"]
	path = submodules/myclaude
	url = https://github.com/cexll/myclaude.git
[submodule "submodules/claude-code-tools"]
	path = submodules/claude-code-tools
	url = https://github.com/pchalasani/claude-code-tools.git
[submodule "submodules/cc-marketplace"]
	path = submodules/cc-marketplace
	url = https://github.com/ananddtyagi/cc-marketplace.git
[submodule "submodules/awesome-claude-code-plugins"]
	path = submodules/awesome-claude-code-plugins
	url = https://github.com/ccplugins/awesome-claude-code-plugins.git
[submodule "ccplugins/claude-code-settings"]
	path = submodules/claude-code-settings
	url = https://github.com/feiskyer/claude-code-settings.git
[submodule "submodules/atomic-agents"]
	path = submodules/atomic-agents
	url = https://github.com/BrainBlend-AI/atomic-agents.git
[submodule "submodules/agent-skills-context-engineering"]
	path = submodules/agent-skills-context-engineering
	url = https://github.com/muratcankoylan/Agent-Skills-for-Context-Engineering.git
[submodule "submodules/wshobson-agents"]
	path = submodules/wshobson-agents
	url = https://github.com/wshobson/agents.git
[submodule "submodules/claude-plugins-official"]
	path = submodules/claude-plugins-official
	url = https://github.com/anthropics/claude-plugins-official.git
