[submodule "superpowers"]
	path = submodules/superpowers
	url = https://github.com/obra/superpowers
[submodule "awesome-claude-skills"]
	path = submodules/awesome-claude-skills
	url = https://github.com/ComposioHQ/awesome-claude-skills
[submodule "claude-skills"]
	path = submodules/claude-skills
	url = https://github.com/alirezarezvani/claude-skills.git
[submodule "AI-research-SKILLs"]
	path = submodules/AI-research-SKILLs
	url = https://github.com/zechenzhangAGI/AI-research-SKILLs.git
[submodule "claude-scientific-skills"]
	path = submodules/claude-scientific-skills
	url = https://github.com/K-Dense-AI/claude-scientific-skills.git
[submodule "planning-with-files"]
	path = submodules/planning-with-files
	url = https://github.com/OthmanAdi/planning-with-files.git
[submodule "submodules/compounding-engineering-plugin"]
	path = submodules/compounding-engineering-plugin
	url = https://github.com/EveryInc/compounding-engineering-plugin.git
[submodule "submodules/myclaude"]
	path = submodules/myclaude
	url = https://github.com/cexll/myclaude.git
